<div class="container">
    <div class="card mx-auto" style="max-width: 380px; margin-top: 150px; ">

        <div class="card-body">
            <h3 class="card-title mb-4">Login</h3>

            <form [formGroup]="LoginForm" (ngSubmit)="login()">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope fs-3"></i></span>
                        </div>
                        <input formControlName="email" class="form-control" type="email" placeholder="Email">
                    </div>
                    <small *ngIf=" LoginForm.get('email')?.hasError('required')
                    && LoginForm.get('email')?.touched" class="text-danger">*Email is required</small>
                    <small *ngIf="LoginForm.get( 'email')?.hasError( 'email')
                     && LoginForm.get('email')?.touched" class="text-danger ">*Invalid email format</small>
                </div>

                <div class="form-group ">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key fs-3 text-warning"></i></span>
                        </div>
                        <input formControlName="password" class="form-control" type="Password" placeholder="Password">
                    </div>
                    <small *ngIf=" LoginForm.get( 'password')?.hasError( 'required')
                     && LoginForm.get('password')?.touched" class="text-danger ">*Password is required</small>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block fs-5">Login</button>
                </div>
                <div>
                    <p class="text-danger"> {{ error }}</p>
                </div>
            </form>

            <hr>

            <p class="text-center mt-4 ">Don't have an account? <a routerLink="/register">Sign up</a></p>
        </div>
    </div>
