/* Import Bootstrap styles from both local and external sources */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

/* Reset some default styles for all elements */

* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 14px;
}


/* Set background properties for the body element */

body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-size: 12px;
}


/* Set a default width for images */

img {
    width: 60px;
}


/* Styles for navigation links */

a.nav-link {
    color: white;
    font-family: cursive;
    font-size: 25px;
}


/* Remove bullets from lists with the id 'no-bullets' */

#no-bullets {
    list-style-type: none;
}


/* Styles for a component called 'card-top' and its child elements in a product component */

.card-top {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background: #fff;
    background-clip: border-box;
    border: px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.item img {
    width: 70px;
}

.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: blue;
}


/* Styles for a generic card with images and buttons */

.card {
    padding: 20px;
    margin: 50px;
}

.card img {
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}


/* Hover effect on card images */

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}


/* Styles for buttons within a class 'btns' */

.btns {
    display: inline-block;
}


/* Styles for a Category component with similar structure to the product component */


/* Set height for html and body to 100% */

html,
body {
    height: 100%;
}


/* Set default styles for the body element */

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* Styles for a fixed position footer at the bottom of the page */

.footer {
    position: fixed;
    padding: 10px 10px 0px 0px;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: black;
    color: white;
    z-index: 1;
}