<ng-container *ngIf="cartProducts.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="card-product">

                <table class="table table-responsive ">
                    <thead>
                        <tr>
                            <th scope="col">Sr. No</th>
                            <th scope="col">ProductID</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Image</th>

                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartProducts; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.productId}}</td>
                            <td> <img [src]="'/assets/image/' + item.productImage" alt="Picture of product"></td>
                            <td>{{item.productTitle}}</td>
                            <!--currency pipe with currency code-->
                            <td>{{ item.productPrice | currency: 'kr. ' }}</td>

                            <div class="relative " id="qnty ">
                                <button class="btns " type="button" (click)="increaseQuantity(item)"><i class="fa fa-plus "></i></button>
                                <td style="width: 12%; ">{{item.quantity}}</td>
                                <button class="btns " type="button " (click)="decreaseQuantity(item)"><i class=" fa fa-minus "></i></button>
                            </div>
                            <td style="width: 12%; "> kr{{item.productPrice*item.quantity}}</td>
                            <td>
                                <button (click)="removeItem(item.productId) " class="btn btn-danger txt-danger "><i
                                        class="fas fa-trash-alt "></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success" (click)="processOrder()">Buy</button></td>
                            <td><strong>Grand Total :{{grandTotal | currency: ' kr.'}}</strong></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</ng-container>