<div class="container">
    <div>
        <h2>Welcome {{ currentUser.firstName }} {{ currentUser.lastName }} !</h2>
    </div>
    <button class="btn btn-danger custom-button px-5 float-end" style="margin:10px;">Delete Profile</button>
    <hr>


    <div *ngIf="currentUser ">
        <form clas="form-group border ">
            <div class="mb-3 row ">
                <label for="firstName" class="col-sm-1 col-form-label">First Name:</label>
                <div class="col-sm-4 ">
                    <input type="text" class="form-control" [value]="currentUser.firstName" />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="lastName " class="col-sm-1 col-form-label ">Last Name:</label>
                <div class="col-sm-4 ">
                    <input type="text " class="form-control " [value]="currentUser.lastName " />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="email " class="col-sm-1 col-form-label ">Email:</label>
                <div class="col-sm-4 ">
                    <input type="text " class="form-control " [value]="currentUser.email " />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="address " class="col-sm-1 col-form-label ">Home Address:</label>
                <div class="col-sm-4 ">
                    <input type="text " class="form-control " [value]="currentUser.homeAddress?.address " />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="city " class="col-sm-1 col-form-label ">City:</label>
                <div class="col-sm-4 ">
                    <input type="text " class="form-control " [value]="currentUser.homeAddress?.city " />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="postalCode " class="col-sm-1 col-form-label ">Postal Code:</label>
                <div class="col-sm-4 ">
                    <input type="text " class="form-control " [value]="currentUser.homeAddress?.postalCode " />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="country " class="col-sm-1 col-form-label ">Country:</label>
                <div class="col-sm-4 ">
                    <input type="text " class="form-control " [value]="currentUser.homeAddress?.country " />
                </div>
            </div>

            <div class="mb-3 row ">
                <label for="phone " class="col-sm-1 col-form-label ">Telephone:</label>
                <div class="col-sm-4 ">
                    <input type="tel " class="form-control " [value]="currentUser.homeAddress?.phone " />
                </div>
            </div>


            <!-- Save and cancel button -->
            <div class="button-container ">
                <button class="btn btn-success px-4 " type="button " (click)="editProfile(currentUser) ">Save</button>&nbsp;
                <button class="btn btn-secondary px-4 " type="button " (click)="cancel() ">Cancel</button>
            </div>
        </form>

        <!-- Button to show password form -->
        <button class="btn btn-primary custom-button px-5 float-end " style="margin-left:10px; " (click)=" toggleChangePasswordForm() ">Change Password</button>
        <button class="btn btn-success custom-button px-5 float-end ">Order history</button>

    </div>





    <div *ngIf="showChangePasswordForm ">
        <!-- Change Password Form -->
        <div class="form-group ">
            <label for="currentPassword ">Current Password:</label>
            <input formControlName="password " type="password " class="form-control " id="currentPassword " [(ngModel)]="currentPassword ">
        </div>

        <div class="form-group ">
            <label for="newPassword ">New Password:</label>
            <input type="password " class="form-control " id="newPassword " [(ngModel)]="newPassword ">
        </div>

        <div class="form-group ">
            <label for="confirmPassword ">Confirm New Password:</label>
            <input type="password " class="form-control " id="confirmPassword " [(ngModel)]="confirmPassword ">
        </div>


        <button class="btn btn-success fs-6 block " (click)="changePassword(newPassword,currentUser.id) ">Save Password</button> &nbsp;
        <button class="btn btn-secondary fs-6 block " (click)="cancelChangePassword() ">Cancel</button>
    </div>
</div>