<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Register</h4>
                    <p class="card-text">Create a new account</p>
                    <a routerLink="/register" class="btn btn-success">Register</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Login</h4>
                    <p class="card-text">Already have an account?</p>
                    <a routerLink="/login" class="btn btn-success">Login</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Guest Access</h4>
                    <p class="card-text">Access without an account</p>
                    <a routerLink="/guest" class="btn btn-success">Guest Access</a>
                </div>
            </div>
        </div>
    </div>
</div>
