/* Custom styles for the small navbar button */

.custom-navbar-toggler {
    font-size: 24px;
    background-color: rgb(86, 149, 77);
    border-style: inset;
    padding: 15px;
}

.custom-navbar-toggler:hover {
    background-color: transparent;
    /* Background color on hover  */
    color: #0a3a16;
}

.logo {
    width: 100px;
    border: solid rgb(6, 7, 8);
    align-items: center;
}

.container {
    margin-top: 160px;
}

p {
    cursor: pointer;
    text-decoration: none;
}

li {
    list-style: none;
}

.custom-card {
    width: 25rem;
    height: 25rem;
    padding: 20px;
    margin-top: 70px;
    border-radius: 25px;
    /* Rounded corners */
}


/* Initial state */

.card-hover {
    transition: transform 0.3s ease;
}


/* Hover state */

.card-hover:hover {
    transform: scale(1.05);
    /* Increase the scale for the pop-up effect */
}


/* Media query for screens with a maximum width of 768px (typical for mobile devices) */

@media (max-width: 768px) {
    /* Adjust the styles for mobile screens here */
    .navbar {
        padding: 0;
    }
    .logo {
        width: 60px;
        border: solid rgb(6, 7, 8);
        align-items: center;
    }
    .container {
        margin-left: 140px;
    }
    .custom-navbar-toggler {
        font-size: 16px;
        padding: 5px 8px;
    }
    .custom-offcanvas-body {
        padding: 25px;
    }
}
