<!-- Admin Dashboard -->
<nav class="navbar d-flex justify-content-center">
    <div class="container">
        <button class="navbar-toggler custom-navbar-toggler btn-outline-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
    Admin Dashboard
  <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</nav>

<!-- Widgets -->
<!-- New Row -->
<div class="row justify-content-center">
    <div class="col-md-2">
        <div class="card card text-black bg-light custom-card card-hover">
            <div class="card-body" data-bs-toggle="modal" data-bs-target="#orderDetailsModal">
                <i class="fas fa-check-circle fa-3x p-4 bg-success "></i>
                <div class="mt-2 lead ">Orders</div>
                <p class="small text-muted ">{{ greeting}}!
                    <br>{{ formattedDate}} </p>

            </div>
        </div>
    </div>
    <!--Card for Products--->
    <div class="col-md-2 ">
        <div class="card card text-black bg-light custom-card card-hover ">
            <div class="card-body " routerLink="/admin/product">
                <i class=" fas fa-cube fa-3x p-4 bg-warning "></i>
                <div class="mt-2 lead ">Products</div>
                <h2 class="card-title " style="font-size:1.8em; ">{{ productCount }}</h2>
            </div>
        </div>
    </div>
    <!--Card for Categories--->
    <div class="col-md-2 ">
        <div class="card card text-black bg-light custom-card card-hover ">
            <div class="card-body " [routerLink]="[ '/admin/category'] ">
                <i class="fas fa-puzzle-piece fa-3x p-4 bg-danger "></i>
                <div class="mt-2 lead ">Categories</div>
                <h2 class="card-title " style="font-size:1.8em; ">{{ categoryCount }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-2 ">
        <div class="card card text-black bg-light custom-card card-hover ">
            <div class="card-body " [routerLink]="[ '/admin/user'] ">
                <i class="fas fa-user-friends fa-2x "></i>
                <div class="lead ">Total Members</div>
                <h2 class="card-title ">{{ memberCount }}</h2>
                <hr>
                <i class="fas fa-mask fa-2x "></i>
                <div class="lead ">Total Guests</div>
                <h2 class="card-title ">{{ guestCount }}</h2>

            </div>
        </div>
    </div>


    <!-- Offcanvas for sidebar -->
    <div class="offcanvas offcanvas-start" tabindex="-1 " id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel ">
        <div class="offcanvas-header ">
            <h5 class="offcanvas-title " id="offcanvasNavbarLabel ">
                <!-- Logo of Chicbotique -->
                <img class="logo rounded-circle " style="width: 100px; align-items: flex-start; " src="assets/image/logo3.png ">
            </h5>
            <button type="button " class="btn-close text-reset " data-bs-dismiss="offcanvas " aria-label="Close "></button>
        </div>
        <div class="offcanvas-body custom-offcanvas-body ">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">

                <li class="nav-item ">
                    <p class="nav-link " routerLink="/admin/user">
                        <i class="fas fa-user r me-4 fs-1 "></i>Users
                    </p>
                </li>
                <li class="nav-item ">
                    <p class="nav-link " routerLink="/admin/product">
                        <i class="fa fa-product-hunt r me-4 fs-1 "></i>Products
                    </p>
                </li>
                <li class="nav-item ">
                    <p class="nav-link " routerLink="/admin/category">
                        <i class="fa-solid fa-rectangle-list r me-4 fs-1 "></i>Categories
                    </p>
                </li>
            </ul>

        </div>
    </div>

    <!-- Modal for checking order details -->
    <div class="modal" id="orderDetailsModal" tabindex="-1" aria-labelledby="Order details" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-lg ">
            <div class="modal-content ">
                <div class="modal-header ">
                    <h4 class="modal-title " id="exampleModalLabel ">Order Details</h4>
                    <button type="button " class="btn-close " data-bs-dismiss="modal " aria-label="Close ">
        <span aria-hidden="true ">&times;</span>
      </button>
                </div>
                <div class="modal-body ">
                    <!-- Order Table -->
                    <table class="table table-hover table-stripped table-responsive ">
                        <thead>
                            <tr>
                                <th>Order ID</th>
                                <th>Order Date</th>
                                <th>Product Title</th>
                                <th>Product Quantity</th>
                                <th>Total amount</th>
                                <th>Payment Method</th>
                                <th>Payment Status</th>
                            </tr>
                        </thead>

                        <tbody *ngIf="orders?.length !==0 ">

                            <tr *ngFor="let order of orders">
                                <td>{{ order.id }}</td>
                                <td>{{ order.orderDate | date: 'dd-MM-yy ' }}</td>
                                <td>
                                    <div *ngFor="let orderDetail of order.orderDetails">
                                        {{ orderDetail.productTitle}}
                                    </div>
                                </td>
                                <td>
                                    <div *ngFor="let orderDetail of order.orderDetails">
                                        {{ orderDetail.quantity }}
                                    </div>
                                </td>
                                <td>
                                    <!---currency pipe: currency is DK and symbol is set to currency symbol(DK)---->
                                    {{ calculateTotalAmount(order.orderDetails) | currency: 'DK': 'symbol': '1.2-2'}} </td>
                                <td>{{ order.paymentMethod}}</td>
                                <td>{{ order.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn btn-primary " data-bs-dismiss="modal">OK</button>
                </div>

            </div>
        </div>
    </div>