.card {
    margin-top: 150px;
    border: 2px solid #050708;
    ;
    /* Add your desired border style */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Box shadow for depth */
    transition: transform 0.2s;
    /* Add a transition for a hover effect */
}